* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #222222;
}

#about-img{
	border-radius: 50%;
}

.w-100 {
	width: 100%;
}

#footer {
    clear: both;
    position: relative;
}